body {
  background-color: rgb(253, 213, 219);
}

header img {
  top: 50%;
  left: 50%;
  margin-bottom: 15px;
  margin-top: -10px;
}

.footer {
  text-align: center;
  position: sticky;
  top: 100vh;
  color: white;
}

img,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

/*article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  margin-left: 20px;
  margin-top: -20px;
}
*/

article {
  display: grid;
}

article > * {
  grid-column: 1;
  grid-row: 1;
}

article .bg {
  z-index: -1;
}

article .logo {
  place-self: start start;
  margin-top: 20px;
  margin-left: 10px;
  width: 40%;
}

article .infotekst {
  place-self: center start;
  margin-top: 89px;
  width: 40%;

  animation-name: puls_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes puls_kf {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(0.9);
  }
}

h1 {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  margin-top: 70px;
}

/*.col1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 300px;
}*/

.stor_tekst {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5rem;
  margin-left: 10px;
}

@media (max-width: 1100px) {
  .stor_tekst {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    margin-left: 10px;
  }
}

@media (min-width: 700px) {
  .col1 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 20px;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
  }
}

iframe {
  width: 100%;
  height: auto;
}

video {
  margin-bottom: 30px;
}
